html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

.headline {
	width: 100%;
	min-height: 575px;
	background-image: url("https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/HeadlineImage_1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 1.2rem;
}

.button-width {
	max-width: 80%;
	padding: 0.25rem 0.25rem 1rem 0.25rem;
}

.view_order:hover {
	background-color: #db6a19;
	box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.3);
}

h1 {
	color: #F9D63F;
	font-weight: bold;
	font-size: 7rem;
	line-height: 0.85;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: auto;
	letter-spacing: 15px;
}

h2 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 3.5rem;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: -9px;
	letter-spacing: 5px;
}

.title {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	margin-top: 1em;
}

.grid-wrapper {
	background: linear-gradient(to right, rgba(196, 154, 108, 0),rgba(195, 155, 124, 0.8), rgba(196, 154, 108, 0));
	width: 100%;
	padding: 1.5em 0em;
}

.three-img-section {
	margin: 0 auto;
	width: 90%;
}

.bg-nature-image {
	background: linear-gradient(to top, rgba(255,255,255,0.2), white), url(https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/TransparentArrowBkgd.jpg);
	background-size: cover;	
    background-position: bottom;
    background-repeat: no-repeat;
}

.bg-section-white {
	background-color: #FFFFFF;
	opacity: 0.9;
}

.bg-section-bottle {
	padding: 0;
}

.grid-wrapper p {
	font-weight: bold;
    margin: 0.5em 1em 0.5em 1em;
    font-size: 1.8em;
    color: #3d1c0f;
}

.according-section {
	margin: 1rem 0 0 0;
}

.marker {
	margin-top: 30px;
}

.bottom-spacing {
	margin-bottom: 30px;
}

.marker li {
	margin-top: 14px;
}

.guarantee-img {
	margin: 2rem 0;
}

.detail {
	font-size: 1.3em;
}

.more-margin-top {
	margin-top: 1rem;
}

.section-header {
	font-size: 2.25rem;
}

.headline-gear-text {
	width: 100%;
	margin: 0 auto;
    max-width: 80%;
    padding: 2rem 0;
	color: #FFFFFF;
}

h4 {
	color: #FFCD2F;
	font-weight: bold;
	font-size: 2.3rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.headline-gear p {
	color: #FFFFFF;
	font-size: 1.35rem;
	margin-top: 1rem;
}

.section-gear {
	width: 100%;
	background-image: url(https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/Gears_15.jpg);
	background-size: auto;
    background-position: -459% 78%;
    background-repeat: no-repeat;
    background-attachment: scroll;
	background-color: #A41F25;
}

.shipping-label {
	background-color: #495E40;
	padding: 2rem 3rem;
}

.free-shipping img {
	border-radius: 20%;
	margin-top: 5px;
}

img.bottle {
	width: 105px;
	margin-right: 2px;
}

.white-arrow {
	margin: 0 auto; 
	width: 100%; 
	margin-bottom: 2em; 
	text-align: center;
}

.thats-right-before {
	margin-bottom: 0px; 
	padding-bottom: 16px;
}

.thats-right {
	margin-top: 16px;
}

.view_order {
	background-color: #E47E25;
	border: 5px solid white
	;
	text-align: center;
	margin: auto;
}

.title1 {
	color: #000000;
}

.footer {
	margin: 0 auto;
}

.footer-info {
	font-size: 0.85rem;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom: 4rem;
	font-weight: 700;
	color: #FFFFFF;
}

.add-to-cart {
	font-size: 2.25rem;
	color: #FFFFFF;
	font-weight: bold;
}

.review-order {
	font-size: 0.9rem;
	color: #000000;
}

.label-link {
	margin: 0.5rem 0.75rem;
	font-size: 1.25rem;
	text-decoration: underline;
}

a.label-link-a {
	color: #2BB673;
}

.banner-info p {
	color: #FFFFFF;
    font-size: 1.4em;
    margin: 1em 1.5em 1em 1.25em;
}

.banner-container {
	position: relative;
    padding: 0;
}

/*599 or less for mobile*/
@media only screen and (max-width: 599px) {
	.setting-width {
		max-width: 95%;
		margin-right: 2rem;
		margin-left: 2rem;
	}

	.free-shipping.one {
		display: none;
	}

	.free-shipping.two {
		display: block;
		width: 100%;
	}

	.free-shipping.three {
		display: none;
	}

	.head_label {
		color: #FFFFFF;
		font-weight: bold;
		font-size: 1.45rem;
		font-family: 'Open Sans Condensed', sans-serif;
		margin: auto;
	}

	.headline-upperhead ,.headline-subhead {
		color: #FFFFFF;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.45rem;
		width: 100%;
		margin: 0 auto;
		font-weight: 700;
	}

	.headline-title {
		color: #ff2247;
		font-size: 4.5rem;
		line-height: 1;
		background: linear-gradient(to right, rgba(196, 154, 108, 0.1),rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85), rgba(196, 154, 108, 0.1));
		font-weight: bold;
		padding: 20px;
		line-height: 1;
		margin: 10px 0;
	}

	.delivery_man {
		float: none;
		margin: auto;
		display: block;
	}

	.banner-head {
		background-color: #3d1c0f;
		max-width: 100%;
	}

	.banner-img {
		left: 3%;
		position: absolute;
		display: none;
	}

	.cell.banner-info {
		width: 100%;
	}

	.brown-banner {
		margin: 0 auto;
	}

	.parallax {
		background-image: url("https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/ParallaxOne_5.jpg");
		padding: 2rem 0rem;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	   	min-height: 280px;
	}

	.parallax-header {
		color: #FFFFFF;
    	font-weight: bold;
    	margin: 0 2rem;
		font-size: 1.75rem;
		text-shadow: 1px 1px 1px black;
	}

	.parallax-subheader {
		color: #FFFFFF;
    	font-weight: bold;
    	margin: 0 2rem;
		font-size: 1.75rem;
		text-shadow: 1px 1px 1px black;
	}

	.banner-info p {
		color: #FFFFFF;
	    font-size: 1.4em;
	    margin: 1em 2em 1em 2em;
	}
}


/*600 high and 930 OR LESS  - for bottles mainly*/
@media only screen and (max-width: 750px) and (min-width: 600px){
	.bottle.two {
		display: none;
	}

	.bottle.one-one {
		display: none;
	}

	.free-shipping.two {
		width: 66.66%;
	}

	.free-shipping.three {
		display: none;
	}
}

@media only screen and (max-width: 1040px) and (min-width: 751px){
	.free-shipping.one {
		width: 50%;
	}

	.free-shipping.two {
		width: 50%;
	}

	.free-shipping.three{
		display: none;
	}
}

/*for tablet*/
@media only screen and (max-width: 768px) and (min-width: 600px){
	.setting-width {
		max-width: 80%;
	}

	.button-width {
		max-width: 60%;
		padding: 0.25rem 0.25rem 1rem 0.25rem;
	}

	img.bottle {
		width: 105px;
		margin-right: 2px;
	}

	h1 {
		color: #F9D63F;
		font-weight: bold;
		font-size: 6.9rem;
		line-height: 0.85;
		font-family: 'Open Sans Condensed', sans-serif;
		margin: auto;
	}

	.head_label{
		color: #FFFFFF;
		font-weight: bold;
		font-size: 1.52rem;
		font-family: 'Open Sans Condensed', sans-serif;
		margin: auto;
	}

	.headline-upperhead ,.headline-subhead{
		color: #FFFFFF;
		font-family: 'Open Sans', sans-serif;
		font-size: 2rem;
		width: 100%;
		margin: 0 auto;
		font-weight: 700;
	}

	.headline-title{
		color: #ff2247;
		font-size: 4.75rem;
		line-height: 1;
		background: linear-gradient(to right, rgba(196, 154, 108, 0.1),rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85), rgba(196, 154, 108, 0.1));
		font-weight: bold;
		padding: 20px;
		line-height: 1;
		margin: 10px 0;
	}

	.delivery_man {
		float: right;
	}

	.banner-head {
		background-color: #3d1c0f;
		max-width: 100%;
	}

	.banner-img {
		left: 3%;
		position: absolute;
		display: none;
	}

	.cell.banner-info {
		width: 100%;
		min-height: 300px;
	}

	.brown-banner {
		margin: 0 auto;
	}

	.parallax {
		background-image: url("https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/ParallaxOne_5.jpg");
		padding: 2rem 0rem;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	   	min-height: 300px;
	}

	.parallax-header {
		color: #FFFFFF;
    	font-weight: bold;
    	margin: 0 2rem;
		font-size: 1.95rem;
		text-shadow: 1px 1px 1px black;
	}

	.parallax-subheader {
		color: #FFFFFF;
    	font-weight: bold;
    	margin: 0 2rem;
		font-size: 1.95rem;
		text-shadow: 1px 1px 1px black;
	}

	.break {
		display: none;
	}

	.banner-info p {
		color: #FFFFFF;
	    font-size: 1.35em;
	    margin: 0 auto;
	    max-width: 80%;
	    margin-top: 2rem;
	    margin-bottom: 2rem;
	}
}

/*desktop*/
@media only screen and (min-width: 769px) {
	.setting-width {
		max-width: 80%;
	}

	.button-width {
		max-width: 40%;
		padding: 0.25rem 0.25rem 1rem 0.25rem;
	}

	img.bottle {
		width: 105px;
		margin-right: 2px;
	}

	h1 {
		color: #F9D63F;
		font-weight: bold;
		font-size: 6.9rem;
		line-height: 0.85;
		font-family: 'Open Sans Condensed', sans-serif;
		margin: auto;
	}

	.head_label {
		color: #FFFFFF;
		font-weight: bold;
		font-size: 1.52rem;
		font-family: 'Open Sans Condensed', sans-serif;
		margin: auto;
	}

	.headline-upperhead ,.headline-subhead {
		color: #FFFFFF;
		font-family:'Open Sans', sans-serif;
		font-size: 2.5rem;
		width: 100%;
		margin: 0 auto;
		font-weight: 700;
	}

	.headline-title {
		color: #ff2247;
		font-size: 4.5rem;
		line-height: 1;
		background: linear-gradient(to right, rgba(196, 154, 108, 0.1),rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85), rgba(196, 154, 108, 0.1));
		font-weight: bold;
		padding: 20px;
		line-height: 1;
		margin: 10px 0;
	}

	.delivery_man {
		float: right;
	}

	.banner-head {
		background-color: #3d1c0f;
		max-width: 100%;
	}

	.banner-img {
		left: 3%;
		position: absolute;
		display: none;
	}

	.cell.banner-info {
		margin: 0 auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
		width: 85%;
		min-height: 260px;
	}

	.brown-banner {
		margin: auto;
	}

	.parallax {
		background-image: url(https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/ParallaxOne_5.jpg);
	    padding-top: 3.75rem;
	    padding-bottom: 3.75rem;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: 66% 20%;
	    min-height: 325px;
	}

	.parallax-header {
		color: #FFFFFF;
	    font-size: 2.5rem;
	    font-weight: bold;
	    margin-left: 3.5rem;
	    text-shadow: 1px 1px 1px black;
	}

	.parallax-subheader {
		color: #FFFFFF;
	    font-size: 1.5rem;
	    font-weight: bold;
	    margin-left: 3.5rem;
	    text-shadow: 1px 1px 1px black;
	}

	.banner-info p {
		color: #FFFFFF;
	    font-size: 1.25em;
	    margin: 1em 1.25em 1em 1.25em;
	}
}

/* main headline and doctor banner*/
@media only screen and (min-width: 900px) {
	.headline-title {
		color: #ff2247;
		font-size: 5.25rem;
		line-height: 1;
		background: linear-gradient(to right, rgba(196, 154, 108, 0.1),rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85), rgba(196, 154, 108, 0.1));
		font-weight: bold;
		padding: 20px;
		line-height: 1;
		margin: 10px 0;
	}

	.banner-info p {
		color: #FFFFFF;
	    font-size: 1.1em;
	    margin: 0.75em 0.5em 0.75em 0.5em;
	}

	.banner-head{
		background-color: #3d1c0f;
		max-width: 84%;
		min-height: 221px;
		max-height: 221px;
	}

	.banner-img{
		left: 3%;
		position: absolute;
		display: block;
		width: 316px;
		top: -20%;
	}

	.cell.banner-info {
		width: 55%;
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	.brown-banner{
		margin: 4rem auto;
	}
}
@media only screen and (min-width: 1010px) {
	.banner-info p {
		color: #FFFFFF;
	    font-size: 1.25em;
	    margin: 0.75em 0.5em 0.75em 0.5em;
	}

	.banner-head {
		background-color: #3d1c0f;
		max-width: 84%;
		min-height: 252px;
		max-height: 252px;
	}

	.banner-img{
		left: 3%;
		position: absolute;
		width: 350px;
		top: -20%;
	}
}

@media only screen and (min-width: 1140px) {
	.banner-info p {
		color: #FFFFFF;
	    font-size: 1.37em;
	    margin: 0.75em 0.5em 0.75em 0.5em;
	}

	.banner-head{
		background-color: #3d1c0f;
		max-width: 84%;
		min-height: 280px;
		max-height: 280px;
	}

	.banner-img{
		left: 3%;
		position: absolute;
		width: 370px;
		top: -15%;
	}
}







